# Ignore Local Dataset folder
OCT/
# Ignore Partial Dataset folder
OCTFull/
OCTHalf/
OCTQuarter/
OCTOne-tenth/
# Ignore Jupyter Checkpoints cache
.ipynb_checkpoints/
# Ignore local pre-trained weights
weights/
