{% extends "layout.html" %}
{% block title %}Beranda{% endblock %} 
{% block head %}
{% endblock %}

{% block content %}
    <div class="row">
        <h3 class="text-center"><strong>Peningkatan Performa Model <i>Transfer Learning</i> Berbasis Arsitektur CNN VGG16 Menggunakan <i>Fine-Tuning</i> Untuk Deteksi Kelainan Pada Citra Makula Retina Mata</strong</h3> <br> <br>
			<img src={{url_for('static',filename='images/unnes.png')}} height="210" width="140"><br><br>
			<h5 class="text-center"><strong>Ibnu Azam Alfansuri</strong></h5>
			<p class="text-center" style="font-size:20px;">4611417051</p><br>
			<h4 class="text-center">
				<strong>
					Program Studi Teknik Informatika<br>
					Jurusan Ilmu Komputer<br>
					Fakultas Matematika dan Ilmu Pengetahuan Alam<br>
					Universitas Negeri Semarang<br>
					Semarang, 2022
				</strong>
			</h4>
    </div>
{% endblock %}